{% extends "base.html" %}

{% block content %}
    <nav>
        <a href="/archive">Archiv durchsuchen</a>
    </nav>

    {% for post in posts %}
        <article>
            <div class="post-meta">{{ post.datetime.strftime("%d.%m.%Y um %H:%M") }}</div>
            <div class="post-content">{{ post.content | safe }}</div>
            <div class="permalink">
                <a href="/{{ post.slug }}">Direktlink zu diesem Beitrag</a>
            </div>
        </article>
    {% endfor %}

    {% if posts %}
        <div class="archive-nav">
            <a href="/{{ posts[-1].year }}/{{ '%02d' % posts[-1].month }}">Ältere Beiträge</a>
        </div>
    {% endif %}
{% endblock %}