<!DOCTYPE html>
<html>
  <head><title>Mein Blog</title></head>
  <body>
    <h1>Neueste Beiträge</h1>
    <p><a href="/archive">Alle Monate im Archiv →</a></p>

    {% for post in posts %}
    <hr>
      <article>
        <small>{{ post.datetime.strftime("%Y-%m-%d %H:%M") }}</small>
        <div>{{ post.content | safe }}</div>
        <p><a href="/{{ post.slug }}">permalink</a></p>
        <hr>
      </article>
    {% endfor %}

    <p><a href="/{{ posts[-1].year }}/{{ '%02d' % posts[-1].month }}">Ältere Beiträge →</a></p>
  </body>
</html>
